.home {
    max-width: 1600px;
    
}

.home__row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.text__home {
    margin-bottom: 30px;
    margin-top: -100px;
    margin-left: 25px;
    color: #464646;
}

.text__home2 {
    margin-left: 45px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #464646;
}

.home__image {
    width: 100%;
    /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
    /* z-index: -1; */
    
}

.btn__image {
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translate(-50%, 200%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 18px 50px;
    cursor: pointer;
    text-align: center;
    border: 1px solid;
    box-shadow: 5px 10px;
}

b:hover{
    color: red;
}

.banner__image {
    height: 400px;
    position: absolute;
    top: -150%;
    left: 140%;
}

.trending__shirt {
    margin-left: 190px;
}

.banner__text {
    position: absolute;
    top: 40%;
    left: 7%;
    color: white;
    font-size: large;
}

.image__text {
    text-align: center;
    margin-left: -65%;
    margin-top: 10px;
}

.image__text2 {
    background-color: #F0F0F0;
    width: 100px;
    height: 110px;
    padding: 100px;
    margin-left: -20%;
    
    
}

.image__white {
    width: 50%;
}

.image__white2 {
    width: 250%;
    margin-top: -70px;
    margin-left: -70px;
}


.image__description {
    color: #464646;
    font-size: x-large;
}

.price__description {
    color: #464646;
    font-size: medium;
    margin-left: -8.5%;
    margin-top: 10px;
}

.icon__text {
    margin-left: 86px;
    margin-top: 15px;
}

.icon__love {
    margin-right: 10px;
}

.image__box {
    background-color: #F0F0F0;
}

.btn__shirt {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 18px 50px;
    cursor: pointer;
    text-align: center;
    border: 1px solid;
    box-shadow: 5px 10px;
}

.btn__categories {
    cursor: pointer;
    text-align: center;
    border: 1px solid;
    box-shadow: 5px 10px;
}
.back__ground {
    background-color: #e2e2e2;
    margin-top: 80px;
    height: 350px;
}